{% include 'overall_header.html' %}

<h1>{{ lang('OUTPUT_SETTINGS') }}</h1>
{{ lang('OUTPUT_SETTINGS_EXPLAIN') }}

{% if VALIDATION_ERRORS %}
<div class="errorbox">
	{% for ERROR in VALIDATION_ERRORS %}
	<p>{{ ERROR.MESSAGE }}</p>
	{% endfor %}
</div>
{% endif %}

<form id="imgur_output_settings" method="POST" action="{{ U_ACTION }}">
	<div class="errorbox notice">
		<p>{{ lang('ACP_IMGUR_OUTPUT_TYPE_EXPLAIN') }}</p>
	</div>
	<table id="imgur_output_list" class="table1 responsive zebra-table imgur-table">
		<thead>
			<tr>
				<th>{{ lang('ACP_IMGUR_OUTPUT_TYPE') }}</th>
				<th>{{ lang('ENABLED') }}</th>
				<th>{{ lang('DEFAULT') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for OUTPUT_TYPE in IMGUR_OUTPUT_TYPES if OUTPUT_TYPE.EXTRA is null or OUTPUT_TYPE.EXTRA is same as(false) %}
			{% if loop.first %}
			<tr class="big-column">
				<td class="row3 row1" colspan="3">
					<strong>{{ lang('ACP_IMGUR_OUTPUT_TYPE_BUILTIN') }}</strong>
				</td>
			</tr>
			{% endif %}
			<tr class="row-highlight">
				<td>
					<label for="imgur_output_type_{{ OUTPUT_TYPE.KEY }}">
						<strong>{{ OUTPUT_TYPE.NAME }}</strong>
					</label>
					{% if OUTPUT_TYPE.EXPLAIN %}<br><span>{{ OUTPUT_TYPE.EXPLAIN }}</span>{% endif %}
				</td>
				<td class="actions">
					<input type="checkbox" id="imgur_output_type_{{ OUTPUT_TYPE.KEY }}" name="imgur_enabled_output_types[]" value="{{ OUTPUT_TYPE.KEY }}"{% if OUTPUT_TYPE.ENABLED %} checked="checked"{% endif %}>
				</td>
				<td class="actions">
					<input type="radio" name="imgur_output_type" value="{{ OUTPUT_TYPE.KEY }}"{% if IMGUR_OUTPUT_TYPE is same as(OUTPUT_TYPE.KEY) %} checked="checked"{% endif %}>
				</td>
			</tr>
			{% endfor %}

			{% for OUTPUT_TYPE in IMGUR_OUTPUT_TYPES if OUTPUT_TYPE.EXTRA is not null and OUTPUT_TYPE.EXTRA is same as(true) %}
			{% if loop.first %}
			<tr class="big-column">
				<td class="row3 row1" colspan="3">
					<strong>{{ lang('ACP_IMGUR_OUTPUT_TYPE_EXTRA') }}</strong>
				</td>
			</tr>
			{% endif %}
			<tr class="row-highlight">
				<td>
					<label for="imgur_output_type_{{ OUTPUT_TYPE.KEY }}">
						<strong>{{ OUTPUT_TYPE.NAME }}</strong>
					</label>
					{% if OUTPUT_TYPE.EXPLAIN %}<br><span>{{ OUTPUT_TYPE.EXPLAIN }}</span>{% endif %}
				</td>
				<td class="actions">
					<input type="checkbox" id="imgur_output_type_{{ OUTPUT_TYPE.KEY }}" name="imgur_enabled_output_types[]" value="{{ OUTPUT_TYPE.KEY }}"{% if OUTPUT_TYPE.ENABLED %} checked="checked"{% endif %}>
				</td>
				<td class="actions">
					<input type="radio" name="imgur_output_type" value="{{ OUTPUT_TYPE.KEY }}"{% if IMGUR_OUTPUT_TYPE is same as(OUTPUT_TYPE.KEY) %} checked="checked"{% endif %}>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<fieldset class="quick">
		<p class="small">
		<a href="#" onclick="marklist('imgur_output_list', 'imgur_enabled_output_types', true); return false;">{{ lang('MARK_ALL') }}</a> • <a href="#" onclick="marklist('imgur_output_list', 'imgur_enabled_output_types', false); return false;">{{ lang('UNMARK_ALL') }}</a>
		</p>
	</fieldset>

	<hr>

	<div class="errorbox notice">
		<p>{{ lang('ACP_IMGUR_THUMBNAIL_SIZE_EXPLAIN') }}</p>
	</div>

	<table id="imgur_thumbnail_list" class="table1 responsive zebra-table imgur-table">
		<thead>
			<tr>
				<th>{{ lang('ACP_IMGUR_THUMBNAIL_SIZE') }}</th>
				<th>{{ lang('DEFAULT') }}</th>
			</tr>
		</thead>
		<tbody>
			{% for THUMBNAIL_SIZE in IMGUR_THUMBNAIL_SIZES if THUMBNAIL_SIZE.KEEP_PROPORTIONS is null or THUMBNAIL_SIZE.KEEP_PROPORTIONS is same as(true) %}
			{% if loop.first %}
			<tr class="big-column">
				<td class="row3 row1" colspan="3">
					<strong>{{ lang('ACP_IMGUR_THUMBNAIL_KEEP_PROPORTIONS') }}</strong>
				</td>
			</tr>
			{% endif %}
			<tr class="row-highlight">
				<td>
					<label for="imgur_thumbnail_size_{{ THUMBNAIL_SIZE.KEY }}">
						<strong>{{ THUMBNAIL_SIZE.NAME }}</strong>
					</label>
					{% if THUMBNAIL_SIZE.EXPLAIN %}<br><span>{{ THUMBNAIL_SIZE.EXPLAIN }}</span>{% endif %}
				</td>
				<td class="actions">
					<input type="radio" name="imgur_thumbnail_size" value="{{ THUMBNAIL_SIZE.KEY }}"{% if IMGUR_THUMBNAIL_SIZE is same as(THUMBNAIL_SIZE.KEY) %} checked="checked"{% endif %}>
				</td>
			</tr>
			{% endfor %}

			{% for THUMBNAIL_SIZE in IMGUR_THUMBNAIL_SIZES if THUMBNAIL_SIZE.KEEP_PROPORTIONS is not null and THUMBNAIL_SIZE.KEEP_PROPORTIONS is same as(false) %}
			{% if loop.first %}
			<tr class="big-column">
				<td class="row3 row1" colspan="3">
					<strong>{{ lang('ACP_IMGUR_THUMBNAIL_NOT_KEEP_PROPORTIONS') }}</strong>
				</td>
			</tr>
			{% endif %}
			<tr class="row-highlight">
				<td>
					<label for="imgur_thumbnail_size_{{ THUMBNAIL_SIZE.KEY }}">
						<strong>{{ THUMBNAIL_SIZE.NAME }}</strong>
					</label>
					{% if THUMBNAIL_SIZE.EXPLAIN %}<br><span>{{ THUMBNAIL_SIZE.EXPLAIN }}</span>{% endif %}
				</td>
				<td class="actions">
					<input type="radio" name="imgur_thumbnail_size" value="{{ THUMBNAIL_SIZE.KEY }}"{% if IMGUR_THUMBNAIL_SIZE is same as(THUMBNAIL_SIZE.KEY) %} checked="checked"{% endif %}>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="reset" class="button2" value="{{ lang('RESET') }}">
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}">
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
