{% include 'overall_header.html' %}

<h1>{{ lang('ACP_IMGUR_OUTPUT') }}</h1>

<form id="imgur_output_settings" method="POST" action="{{ U_ACTION }}">

	<fieldset>
		<legend>{{ lang('OUTPUT_SETTINGS') }}</legend>
		<dl>
			<dt>
				<label for="imgur_output_type">{{ lang('ACP_IMGUR_OUTPUT_TYPE') }}{{ lang('COLON') }}</label>
			</dt>
			<dd>
				<select id="imgur_output_type" name="imgur_output_type">
					{% for OUTPUT_TYPE in IMGUR_OUTPUT_TYPES %}
					<option value="{{ OUTPUT_TYPE.KEY }}"{% if IMGUR_OUTPUT_TYPE is same as(OUTPUT_TYPE.KEY) %} selected="selected"{% endif %}>{{ OUTPUT_TYPE.NAME }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>

		<dl>
			<dt>
				<label for="imgur_thumbnail_size">{{ lang('ACP_IMGUR_THUMBNAIL_SIZE') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('ACP_IMGUR_THUMBNAIL_SIZE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<select id="imgur_thumbnail_size" name="imgur_thumbnail_size">
					{% for THUMBNAIL_SIZE in IMGUR_THUMBNAIL_SIZES %}
					<option value="{{ THUMBNAIL_SIZE.KEY }}"{% if IMGUR_THUMBNAIL_SIZE is same as(THUMBNAIL_SIZE.KEY) %} selected="selected"{% endif %}>{{ THUMBNAIL_SIZE.NAME }}</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input type="submit" name="submit" class="button1" value="{{ lang('SUBMIT') }}" />
			<input type="reset" class="button1" value="{{ lang('RESET') }}" />
		</p>
	</fieldset>

	{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
