*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  
}
.tw-fixed {
    position: fixed
}
.tw-inset-x-0 {
    left: 0px;
    right: 0px
}
.tw-bottom-0 {
    bottom: 0px
}
.tw-mx-auto {
    margin-left: auto;
    margin-right: auto
}
.tw-my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem
}
.tw-my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}
.tw-mr-1 {
    margin-right: 0.25rem
}
.\!tw-mb-0 {
    margin-bottom: 0px !important
}
.tw-mt-4 {
    margin-top: 1rem
}
.tw-mb-2 {
    margin-bottom: 0.5rem
}
.tw-ml-1 {
    margin-left: 0.25rem
}
.tw-box-border {
    box-sizing: border-box
}
.tw-inline-block {
    display: inline-block
}
.tw-flex {
    display: -ms-flexbox;
    display: flex
}
.tw-hidden {
    display: none
}
.tw-h-4 {
    height: 1rem
}
.tw-h-5 {
    height: 1.25rem
}
.tw-h-3 {
    height: 0.75rem
}
.tw-h-8 {
    height: 2rem
}
.tw-h-6 {
    height: 1.5rem
}
.tw-max-h-8 {
    max-height: 2rem
}
.tw-max-h-64 {
    max-height: 16rem
}
.\!tw-min-h-\[2rem\] {
    min-height: 2rem !important
}
.tw-w-full {
    width: 100%
}
.tw-w-5 {
    width: 1.25rem
}
.tw-w-3 {
    width: 0.75rem
}
.tw-shrink {
    -ms-flex-negative: 1;
    flex-shrink: 1
}
.tw-grow {
    -ms-flex-positive: 1;
    flex-grow: 1
}
@-webkit-keyframes tw-spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
@keyframes tw-spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}
.tw-animate-spin {
    -webkit-animation: tw-spin 1s linear infinite;
    animation: tw-spin 1s linear infinite
}
.tw-cursor-pointer {
    cursor: pointer
}
.\!tw-resize-y {
    resize: vertical !important
}
.tw-flex-col {
    -ms-flex-direction: column;
    flex-direction: column
}
.tw-flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.tw-items-start {
    -ms-flex-align: start;
    align-items: flex-start
}
.tw-items-center {
    -ms-flex-align: center;
    align-items: center
}
.tw-gap-2 {
    gap: 0.5rem
}
.tw-gap-4 {
    gap: 1rem
}
.tw-rounded {
    border-radius: 0.25rem
}
.tw-rounded-sm {
    border-radius: 0.125rem
}
.tw-border-4 {
    border-width: 4px
}
.tw-border-solid {
    border-style: solid
}
.tw-border-dashed {
    border-style: dashed
}
.tw-border-sky-600 {
    --tw-border-opacity: 1;
    border-color: rgb(2 132 199 / var(--tw-border-opacity))
}
.tw-border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity))
}
.tw-border-sky-500 {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}
.tw-bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}
.tw-bg-green-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity))
}
.tw-bg-sky-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199 / var(--tw-bg-opacity))
}
.tw-bg-sky-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(3 105 161 / var(--tw-bg-opacity))
}
.tw-bg-opacity-90 {
    --tw-bg-opacity: 0.9
}
.tw-bg-imgur {
    background-image: url("../images/imgur.svg")
}
.tw-bg-loader {
    background-image: url("../images/loader.svg")
}
.tw-bg-contain {
    background-size: contain
}
.tw-bg-center {
    background-position: center
}
.tw-bg-no-repeat {
    background-repeat: no-repeat
}
.tw-p-1\.5 {
    padding: 0.375rem
}
.tw-p-1 {
    padding: 0.25rem
}
.tw-px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem
}
.tw-py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.tw-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}
.tw-py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}
.tw-px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.tw-py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.tw-px-0 {
    padding-left: 0px;
    padding-right: 0px
}
.tw-px-0\.5 {
    padding-left: 0.125rem;
    padding-right: 0.125rem
}
.tw-text-center {
    text-align: center
}
.tw-align-middle {
    vertical-align: middle
}
.tw-align-text-bottom {
    vertical-align: text-bottom
}
.tw-font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}
.tw-text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.\!tw-text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important
}
.tw-text-xs {
    font-size: 0.75rem;
    line-height: 1rem
}
.tw-font-semibold {
    font-weight: 600
}
.tw-text-gray-200 {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity))
}
.\!tw-text-gray-200 {
    --tw-text-opacity: 1 !important;
    color: rgb(229 231 235 / var(--tw-text-opacity)) !important
}
.tw-text-yellow-600 {
    --tw-text-opacity: 1;
    color: rgb(202 138 4 / var(--tw-text-opacity))
}
.tw-text-blue-600 {
    --tw-text-opacity: 1;
    color: rgb(37 99 235 / var(--tw-text-opacity))
}
.tw-text-green-600 {
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity))
}
.tw-ring-2 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
.tw-ring-red-500 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(239 68 68 / var(--tw-ring-opacity))
}
.tw-ring-green-500 {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(34 197 94 / var(--tw-ring-opacity))
}
.tw-ring-transparent {
    --tw-ring-color: transparent
}
.tw-transition-colors {
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.tw-duration-150 {
    transition-duration: 150ms
}
.before\:tw-box-border::before {
    content: var(--tw-content);
    box-sizing: border-box
}
.after\:tw-box-border::after {
    content: var(--tw-content);
    box-sizing: border-box
}
.hover\:tw-border-sky-500:hover {
    --tw-border-opacity: 1;
    border-color: rgb(14 165 233 / var(--tw-border-opacity))
}
.hover\:tw-bg-green-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}
.hover\:tw-bg-sky-500:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(14 165 233 / var(--tw-bg-opacity))
}
.hover\:tw-bg-sky-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(2 132 199 / var(--tw-bg-opacity))
}
.hover\:tw-text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.hover\:tw-text-yellow-500:hover {
    --tw-text-opacity: 1;
    color: rgb(234 179 8 / var(--tw-text-opacity))
}
.hover\:tw-text-blue-500:hover {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity))
}
.hover\:tw-text-green-500:hover {
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity))
}
.hover\:tw-no-underline:hover {
    -webkit-text-decoration-line: none;
    text-decoration-line: none
}
@media (min-width: 1024px) {
    .lg\:tw-my-1 {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem
    }
    .lg\:tw-w-1\/12 {
        width: 8.333333%
    }
    .lg\:tw-w-auto {
        width: auto
    }
    .lg\:tw-w-6 {
        width: 1.5rem
    }
    .lg\:tw-gap-2 {
        gap: 0.5rem
    }
    .lg\:tw-py-1\.5 {
        padding-top: 0.375rem;
        padding-bottom: 0.375rem
    }
    .lg\:tw-py-1 {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem
    }
    .lg\:tw-text-right {
        text-align: right
    }
}