<div class="panel bg3 panel-container" id="imgur-panel">
	<div class="inner">
		<button type="button" class="imgur-button imgur-upload-button" data-add-output="false">
			<span class="icon"></span> {{ lang('IMGUR_UPLOAD') }}
		</button>
		<p>{{ lang('IMGUR_PANEL_BUTTON_EXPLAIN') }}</p>
		{% if IMGUR_ENABLED_OUTPUT_TYPES %}
		<fieldset class="imgur-output-fields fields2">
			{% for OUTPUT_TYPE in IMGUR_ENABLED_OUTPUT_TYPES %}
			<dl class="hidden">
				<dt>
					<label for="imgur_output_{{ OUTPUT_TYPE.KEY }}">{{ OUTPUT_TYPE.NAME }}</label>
				</dt>
				<dd>
					<textarea id="imgur_output_{{ OUTPUT_TYPE.KEY }}" name="imgur_output_{{ OUTPUT_TYPE.KEY }}" class="imgur-output-field inputbox" autocomplete="off" readonly="readonly"></textarea>
					<span class="imgur-output-paste" title="{{ lang('IMGUR_ADD_TO_POST')|striptags|escape }}">
						<i class="icon fa-paste fa-fw" aria-hidden="true"></i>
					</span>
				</dd>
			</dl>
			{% endfor %}
		</fieldset>
		{% endif %}
	</div>
</div>
