#imgur-settings {
	&-api {
		input[type='text'],
		input[type='password'] {
			font-family: Consolas, monaco, monospace;
		}
	}
}

#validate-album {
	font-size: 1em;
	border: none;
	display: inline-block;
	margin-top: 10px;
	padding: 3px 6px;
	cursor: pointer;

	&[disabled] {
		filter: grayscale(1);
	}
}

.album {
	&-invalid,
	&-valid {
		border-width: 1px;
		border-style: solid;
	}

	&-invalid {
		border-color: $bg-album-invalid;
		box-shadow: 0 0 3px $bg-album-invalid;
	}

	&-valid {
		border-color: $bg-album-valid;
		box-shadow: 0 0 3px $bg-album-valid;
	}

	&-validation-icon {
		font-size: 20px;

		&.fa-times {
			color: $bg-album-invalid;
		}

		&.fa-check {
			color: $bg-album-valid;
		}
	}
}

#toggle-client-secret {
	color: $fg-toggle-secret;
	cursor: pointer;
}

.warningbox .btn-imgur {
	font-size: 1.15em;
}

.imgur-table {
	th {
		font-size: 1em;
		text-transform: none;

		+ th {
			text-align: center;
		}
	}

	td {
		> label {
			font-size: 1em;
			padding: 0;
		}
	}
}

@include responsive(max-width, 700px) {
	.imgur-table.responsive {
		.actions {
			text-align: left !important;

			> dfn {
				display: inline-block !important;
			}
		}
	}
}
