#imgur-progress {
	height: 15px;

	&-label {
		text-shadow: -1px 0 $fg-progress-bar-shadow, 0 1px $fg-progress-bar-shadow, 1px 0 $fg-progress-bar-shadow, 0 -1px $fg-progress-bar-shadow;
		line-height: 15px;
		color: $fg-progress-bar;
		font-weight: bold;
	}
}
