{%- if not INCLUDED_FORMDATA_POLYFILL_JS -%}
{%- if S_ALLOW_CDN -%}
{%- INCLUDEJS 'https://rawcdn.githack.com/jimmywarting/FormData/3.0.17/formdata.min.js' -%}
{%- else -%}
{%- INCLUDEJS '@alfredoramos_imgur/js/formdata.min.js' -%}
{%- endif -%}
{%- set INCLUDED_FORMDATA_POLYFILL_JS = true -%}
{%- endif -%}
{%- if not INCLUDED_JS_COOKIE_JS -%}
{%- if S_ALLOW_CDN -%}
{%- INCLUDEJS 'https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js' -%}
{%- else -%}
{%- INCLUDEJS '@alfredoramos_imgur/js/js.cookie.min.js' -%}
{%- endif -%}
{%- set INCLUDED_JS_COOKIE_JS = true -%}
{%- endif -%}
{%- if not INCLUDED_IMGUR_FUNCTIONS_JS -%}
{%- INCLUDEJS '@alfredoramos_imgur/js/functions.js' %}
{%- set INCLUDED_IMGUR_FUNCTIONS_JS = true -%}
{%- endif -%}
{%- if not INCLUDED_IMGUR_JS -%}
{%- INCLUDEJS '@alfredoramos_imgur/js/imgur.js' %}
{%- set INCLUDED_IMGUR_JS = true -%}
{%- endif -%}
