{%- if not INCLUDED_FORMDATA_POLYFILL_JS -%}
{%- if S_ALLOW_CDN -%}
{%- INCLUDEJS 'https://rawcdn.githack.com/jimmywarting/FormData/3.0.14/formdata.min.js' -%}
{%- else -%}
{%- INCLUDEJS '@alfredoramos_imgur/js/formdata.min.js' -%}
{%- endif -%}
{%- set INCLUDED_FORMDATA_POLYFILL_JS = true -%}
{%- endif -%}
{%- if not INCLUDED_IMGUR_FUNCTIONS_JS -%}
{%- INCLUDEJS '@alfredoramos_imgur/js/functions.js' %}
{%- set INCLUDED_IMGUR_FUNCTIONS_JS = true -%}
{%- endif -%}
{%- if not INCLUDED_IMGUR_JS -%}
{%- INCLUDEJS '@alfredoramos_imgur/js/imgur.js' %}
{%- set INCLUDED_IMGUR_JS = true -%}
{%- endif -%}
