#imgur-settings {
	&-api {
		// scss-lint:disable QualifyingElement
		input[type="text"],
		input[type="password"] {
			font-family: Consolas, monaco, monospace;
		}
	}
}

#validate-album {
	display: inline-block;
	margin-top: 10px;
	border: none;
	cursor: pointer;
	padding: 3px 6px;
	font-size: 1em;

	&[disabled] {
		filter: grayscale(1);
	}
}

.album {
	&-invalid,
	&-valid {
		border-width: 1px;
		border-style: solid;
	}

	&-invalid {
		border-color: $bg-album-invalid;
		box-shadow: 0 0 3px $bg-album-invalid;
	}

	&-valid {
		border-color: $bg-album-valid;
		box-shadow: 0 0 3px $bg-album-valid;
	}

	&-validation-icon {
		font-size: 20px;

		&.fa-times {
			color: $bg-album-invalid;
		}

		&.fa-check {
			color: $bg-album-valid;
		}
	}
}

#toggle-client-secret {
	cursor: pointer;
	color: $fg-toggle-secret;
}

.warningbox .btn-imgur {
	font-size: 1.15em;
}

.imgur-table {
	th {
		text-transform: none;
		font-size: 1em;

		+ th {
			text-align: center;
		}
	}

	td {
		> label {
			padding: 0;
			font-size: 1em;
		}
	}
}

@include responsive(max-width, 700px) {
	.imgur-table.responsive { // scss-lint:disable ChainedClasses
		.actions {
			text-align: left !important; // scss-lint:disable ImportantRule

			> dfn {
				display: inline-block !important; // scss-lint:disable ImportantRule
			}
		}
	}
}
