{% if not INCLUDED_IMGUR_CONFIG %}
<script>
var imgur = {
	config: {
		types: '{{ IMGUR_ALLOWED_OUTPUT_TYPES|escape("js") }}'
	},
	storage: {
		enabled: (typeof Storage !== 'undefined'),
		local: 'imgur_output_type',
		session: 'imgur_output_list'
	},
	lang: {
		error: '{{ lang("ERROR")|escape("js") }}',
		invalidMimeType: '{{ lang("IMGUR_INVALID_MIME_TYPE")|escape("js") }}',
		imageTooBig: '{{ lang("IMGUR_IMAGE_TOO_BIG")|escape("js") }}',
		noImages: '{{ lang("IMGUR_NO_IMAGES")|escape("js") }}',
		uploadProgress: '{{ lang("IMGUR_UPLOAD_PROGRESS")|escape("js") }}',
		emptyResponse: '{{ lang("IMGUR_EMPTY_RESPONSE")|escape("js") }}',
		byte: '{{ lang("BYTES_SHORT")|escape("js") }}',
		kibiByte: '{{ lang("KIB")|escape("js") }}',
		mebiByte: '{{ lang("MIB")|escape("js") }}'
	}
};
</script>
{%- set INCLUDED_IMGUR_CONFIG = true -%}
{% endif %}
