<div class="imgur-progress-wrapper tw-hidden tw-box-border tw-w-full tw-max-h-8 tw-fixed tw-inset-x-0 tw-mx-auto tw-bottom-0 tw-text-center tw-flex tw-flex-col tw-flex-wrap tw-items-center">
	<div class="imgur-progress-label tw-box-border tw-w-full tw-h-4">
		<code class="tw-box-border before:tw-box-border after:tw-box-border tw-h-4 tw-bg-gray-50 tw-bg-opacity-90 tw-px-2 tw-py-1 tw-rounded">{# placeholder #}</code>
	</div>
	<progress class="imgur-progress tw-box-border tw-w-full tw-h-4" max="100"></progress>
</div>
