// Background colors
$bg-button-upload: #1bb76e;
$bg-button-register: #006da3;
$bg-button-paste: #105289;
$bg-album-invalid: #dc3545;
$bg-album-valid: #218838;

// Foreground colors
$fg-button: #f2f2f2;
$fg-button-hover: #fff;
$fg-progress-bar: #000;
$fg-progress-bar-shadow: #ccc;
$fg-toggle-secret: #d58512;

// Border colors
$br-dropzone: rgba(0, 136, 204, 0.2);
$br-dropzone-active: rgba(0, 136, 204, 1);
